@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap');
$asset-path: '/assets/images';
$toggle-switch-height: 20px;
$control-margin-top: 70px;

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}

.header {
  align-items: center;
  background-color: rgba(0, 112, 205, .7);
  display: flex;
  flex-direction: row;
  height: 60px;
  position: absolute;
  width: 100%;
  z-index: 1;

  &__image {
    margin: 0 20px;
    height: 40px;
  }

  &__title {
    @media only screen and (max-width: 790px) {
      font-size: 22px;
    }

    @media only screen and (max-width: 680px) {
      font-size: 30px;
    }

    &--bold {
      font-weight: 700;
    }

    &--mobile-remove {
      @media only screen and (max-width: 680px) {
        display: none;
        padding: 0 20px 0 0;
      }
    }

    color: #ffffff;
    font-family: 'Source Sans Pro', sans-serf;
    font-size: 26px;
    font-weight: 300;
    margin: unset;
  }
}

.basemap-panel {
  @media only screen and (max-width: 600px) {
    position: unset;
  }
  background: #fff;
  border: 1px solid #B7B7B7;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
  cursor: grab;
  left: 340px;
  line-height: 2;
  margin: 0 20px 0 15px;
  max-height: 80vh;
  max-width: 10rem;
  outline: none;
  padding: 0 24px;
  position: relative;

  &__filter-toggle-button {
    @media only screen and (max-width: 426px) {
      margin-right: .5rem;
      position: unset;
    }
    background: center/contain no-repeat url('~images/layers.png') #fff;
    border: .5px solid #0070CD;
    border-radius: 10px;
    height: 2.5rem;
    left: 311px;
    padding: 5px;
    position: absolute;
    width: 2.5rem;
  }

  &__filter-toggle {
    pointer-events: auto;
    z-index: 1;
  }

  &__title {
    @media only screen and (min-width: 375px) and (max-width: 812px) {
      width: 80%;
    }
    color: #505050;
    display: inline-block;
    font-size: 20px;
    margin: .5rem auto;
    width: inherit;
  }

  &__close {
    @media only screen and (min-width: 375px) and (max-width: 812px) {
      font-size: 16px;
    }
    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;

    background: transparent;
    border: 0;
    color: #707070;
    float: right;
    font: inherit;
    line-height: normal;
    overflow: visible;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: auto;
  }

  &__options {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

    &-cali {
      background: center / contain no-repeat url('~images/cali-light.png');
      border-radius: 10px;
      height: 75px;
      width: 75px;
    }

    &-lite {
      background: center / contain no-repeat url('~images/lite.png');
      border-radius: 10px;
      height: 75px;
      width: 75px;
    }
  }

  &--hidden {
    visibility: hidden;
  }
}

.control-panel {
  @media only screen and (max-width: 500px) {
    font-size: 12px;
    height: max-content;
    left: 0;
    margin: 0;
    max-height: unset;
    top: 0;
    width: 100vw;
    z-index: 2;
  }
  align-items: center;
  background: #fff;
  border: 1px solid #B7B7B7;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,.1);
  cursor: grab;
  display: flex;
  flex-direction: column;
  left: 0;
  line-height: 2;
  margin: 0 20px 0 15px;
  max-height: 80vh;
  max-width: 36rem;
  outline: none;
  overflow-y: scroll;
  position: absolute;

  &__geolocate {
    border: .5px solid #0070CD;
    border-radius: 10px;
    display: inline-block;
    margin: $control-margin-top 1rem 10px 1rem;
  }

  &__title {
    color: #505050;
    font-size: 24px;
    margin: .5rem 0 0 0;
  }

  &__hr {
    border: none;
    border-top: 1px solid #E0D9D9;
    display: block;
    margin: 0;
    width: 80%;
  }

  &__close {
    @media only screen and (min-width: 375px) and (max-width: 812px) {
      font-size: 16px;
    }

    -moz-osx-font-smoothing: inherit;
    -webkit-appearance: none;
    -webkit-font-smoothing: inherit;

    background: transparent;
    border: 0;
    color: #707070;
    font: inherit;
    line-height: normal;
    margin-left: 0;
    overflow: visible;
    padding-bottom: .55rem;
    padding-left: 0;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: auto;
  }

  &__filter-toggle-button {
    background: center / contain no-repeat url('~images/filter-button.svg') #0070CD;
    border: .5px solid #0070CD;
    border-radius: 10px;
    height: 2.5rem;
    margin: 0 .5rem 0 1rem;
    width: 2.5rem;
  }

  &__filter-toggle {
    pointer-events: auto;
    z-index: 1;
  }

  &--hidden {
    height: 0;
    visibility: hidden;
  }
}

.filter__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: .5rem 1rem 1rem 1rem;
}

.filter {
  background: #F2EDEE;
  border-radius: 1.5rem;
  color: #636363;
  display: grid;
  grid-template-columns: 115px 25px;
  grid-template-rows: 100px 50px;
  margin: .5rem 1rem;
  text-align: center;
  width: 140px;

  &__button {
    background-position: center;
    background-size: cover;
    border: 0;
    border-radius: 1.5rem;
    bottom: 2px;
    cursor: pointer;
    grid-column: 1 / 3;
    margin: 0;
    padding: 0;
    position: relative;
    
    &-paved-paths {
      background: url('~images/paved-paths.png');
      background-position: center;
      background-size: cover;
    }
    &-unimproved-paths {
      background: url('~images/unimproved-paths.png');
      background-position: center;
      background-size: cover;
    }
    &-protected-bike-lane {
      background: url('~images/protected-bike-lane.png');
      background-position: center;
      background-size: cover;
    }
    &-bike-lane {
      background: url('~images/bike-lane.png');
      background-position: center;
      background-size: cover;
    }
    &-paved-footway {
      background: url('~images/paved-footway.png');
      background-position: center;
      background-size: cover;
    }
    &-natural-surface-footway {
      background: url('~images/natural-surface-footway.png');
      background-position: center;
      background-size: cover;
    }
  }
  &__slider-container {
    position: relative;
  }
  &__slider {
    background-color: #e0d9d9;
    border-radius: $toggle-switch-height;
    bottom: .7rem;
    cursor: pointer;
    left: .1rem;
    position: absolute;
    right: .6rem;
    top: .6rem;
    transition: .4s;

    &:before {
      background-color: #F4EFEF;
      border-radius: 50%;
      bottom: 0;
      box-shadow: 1px 1px 5px #888888;
      content: "";
      height: calc(#{$toggle-switch-height} * .7647);
      left: -.05rem;
      position: absolute;
      transition: .4s;
      width: calc(#{$toggle-switch-height} * .7647);
    }

    &--selected {
      background-color: #6A6A6A;
      &:before {
        bottom: 16px;
      }
    }
  }
  &__label {
    align-self: center;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    font-weight: 600;
    justify-self: center;
    line-height: normal;

    &--selected {
      color: #f2edee;
      text-shadow: 0 3px 6px #505050
    }
  }
  &__paved-paths--selected {
    background: #214A2D;
  }
  &__unimproved-paths--selected {
    background: #4BAA40;
  }
  &__protected-bike-lane--selected {
    background: #2166AC;
  }
  &__bike-lane--selected {
    background: #92C5DE;
  }
  &__paved-footway--selected {
    background: #903366;
  }
  &__natural-surface-footway--selected {
    background: #A87196;
  }
}

.mapboxgl-ctrl-top-left {
  display: flex;
  margin: $control-margin-top 0 0 3rem;
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin: 0;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate {
  background: center no-repeat url('~images/geolocate-button.svg');
  padding: 1.25rem;
}

.mapboxgl-ctrl-geocoder {
  @media (max-width: 640px) {
    min-width: 240px!important;
    width: 240px!important;
  }

  @media (max-width: 426px) {
    min-width: 130px!important;
    width: 130px!important;
  }
  border: .5px solid #0070CD;
  border-radius: 10px;
  height: 2.5rem;
  width: 22.5rem;

  &--icon-search {
    left: 10px!important;
    top: 10px!important;
  }

  &--input {
    @media (max-width: 640px) {
      height: inherit!important;
    }
  }
}

.mapboxgl-ctrl-bottom-right > .mapboxgl-ctrl-scale {
  @media (max-width: 640px) {
    bottom: 0;
  }
  bottom: 15px;
  position: absolute;
  right: 40px;
}

.zoom-wrapper {
  @media (max-width: 640px) {
    bottom: 40px;
  }
  bottom: 25px;
  position: absolute;
  right: 12px;
}

.about-button {
  background: center / contain no-repeat url('~images/about-button.svg') #ffffff;
  border: .5px solid #0070CD;
  border-radius: 10px;
  height: 2.5rem;
  margin: 0 1rem 0 auto;
  padding: 0;
  pointer-events: auto;
  position: absolute;
  right: 0;
  top: 70px;
  width: 2.5rem;
}

.about-panel {
  background: #0070CD;
  border-radius: 10px;
  font-size: 16px;
  margin: 1rem;
  max-width: 19rem;
  outline: none;
  position: absolute;
  right: 0;
  top: 108px;
  z-index: 9;

  &--hidden {
    display: none;
  }

  &__heading {
    background: #0070CD;
    border: 0 none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 0;
    padding: 1rem 1.25rem;
    pointer-events: auto;
    text-align: left;
    width: 19rem;
  }

  &__heading:first-child {
    margin-top: .4rem;
  }

  &__text {
    background: #fff;
    padding: 1rem;
    margin-block-start: 0;
    margin-block-end: 0;

    &--hidden {
      height: 0;
      margin: 0;
      padding: 0;
      visibility: hidden;
    }
  }

  &__arrow {
    display: inline-block;
    height: 1rem;
    margin: 0 1rem 0 0;
    width: 1rem;

    &--right {
      background: center / contain no-repeat url('~images/arrow-right.svg');
    }
    &--down {
      background: center / contain no-repeat url('~images/arrow-down.svg');
    }
  }
}

.toggle-switch {
  line-height: 1.5;
  margin-top: .5rem;

  &__label {
    color: #7B7B7B;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-right: 1rem;
    position: relative;
  }

  &__input {
    transform: scale(2, 2);
  }
}

.cliploader__wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  position: absolute;
  width: 100vw;
  z-index: 3;

  &-hidden {
    display: none;
  }
}