body {
  margin: 0;
}

.control-panel {
  background: #fff;
  color: #6b6b76;
  font-size: 13px;
  left: 0;
  line-height: 2;
  margin: 20px;
  max-width: 320px;
  outline: none;
  padding: 12px 24px;

  &__geolocate {
    border: .5px solid #0070CD;
    border-radius: 10px;
    display: inline-block;
    margin: 1rem;
  }
}

.mapboxgl-ctrl-top-left .mapboxgl-ctrl {
  margin: 1.2rem 4rem;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate {
  background: center no-repeat url('~images/geolocate-button.svg');
  padding: 1.25rem;
}
